

body{
    background-color: rgb(192, 206, 148);
}
h1{
    color: blueviolet;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 20px;
    border: 20px;
    
    
    
   

}



h2{
    color: rgb(188, 212, 224);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 10px;
    border: 10px;
    text-align: center;
}
.ubic{
    text-align: center;
}
.contac{
    text-align: center;
}
.tien{
    text-align: center;
transform: scaleX(2.5)


}

.navbar{
    background-color: rgb(135, 35, 135);
}


    
    
    


@media (max-width:500px){
    body {
        background-color: aqua;
    }


}
@media(min-width:400px){
    body{
        background-color: rgb(96, 46, 82);
    }
    
    }

.text{
    color: aquamarine;
}


.text{

    animation-duration: 5s;
    animation-name: animacion;
    animation-iteration-count:infinite ;
}




@keyframes animacion {
 0% {
    opacity: 1;
 }

 50% {
    opacity: 2;
    color: rgb(128, 128, 42);
 }

 100% {
    opacity: 2;
    color: rgb(167, 101, 101);
 }


    
}










    