

body{
    background-color: rgb(192, 206, 148);
}
h1{
    color: blueviolet;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 20px;
    border: 20px;
}
h2{
    color: rgb(165, 42, 130);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 10px;
    border: 10px;
}
.ubic{
    text-align: center;
}
.contac{
    text-align: center;
}
.tien{
    text-align: center;
}